[2022-03-28 03:17] jontaix opened #33 "Translation"
I want to translate to Portuguese (Brasil).
Is there any weblate, crowndin, something like that?
Or should I translate the strings.xml and send a PR?

[2022-03-28 07:31] mondlicht-und-sterne commented on #33
I would like to know that too ;)

[2022-03-28 07:55] mateusz-bak commented on #33
@jontaix @mondlicht-und-sterne I haven't yet set any system for that. I'm looking at this right now - Crowdin looks promising as it is free for FOSS projects, but I need some time to see how this works. A PR is always welcome, but I should be able to set a system for that today/tomorrow. Thank you for the input!

[2022-03-28 09:38] mateusz-bak commented on #33
@jontaix @mondlicht-und-sterne I set up Crowdin: [https://crwd.in/openreads-android](https://crwd.in/openreads-android) Feel free to contribute and let me know if there are any issues.

[2022-03-31 03:14] jontaix commented on #33
Thanks, I'm translating.

[2022-03-31 03:14] #33 closed

[2022-04-01 02:14] Barmarel opened #36 "Feature request"
Please make these items appear as a grid.
![40963e9c-c744-48c8-9c40-de8f944fc5d7.jpg](https://user-images.githubusercontent.com/60399684/161180984-eb29b61a-506a-4dfb-8d07-48d5035f271f.jpg)

Also, please add a field for entering Genres and a field for entering Annotations.

[2022-04-05 19:37] mateusz-bak commented on #36
@Barmarel do you have something like this in mind for the grid? (with option to switch list-grid view)

 <img src="https://user-images.githubusercontent.com/32651935/161835344-7f873f6d-bee3-48f7-83ca-0910fdbbff46.jpg" width="300">

And for the Annotations, is "Notes" field not enough? Or maybe I should just rename Notes to Annotations?

[2022-04-08 12:33] Barmarel commented on #36
• Yes, that's the kind of grid we need.
• I would still like a separate field for annotations, because annotations may be needed for other information.

[2022-04-08 12:40] Barmarel commented on #36
There are a couple more requests/suggestions:
- Please add the ability to specify not only the date, but also the start and end time of the book reading.
- And please add the ability to specify/change the number of pages already read in a book. (You can also do some kind of progress bar based on this data, it would be cool).

[2022-04-08 12:46] Barmarel commented on #36
Another thing I noticed, I have a couple of books with a lot of authors, and after adding a book, some of these authors are trimmed. Apparently not enough character limit...

[2022-04-10 15:45] starryveshch opened #39 "[FEATURE_REQUEST] Add a "Did not finish" status"
**Is your feature request related to a problem? Please describe.**

Sometimes I don't finish a book, but I like to keep it just to revisit it in the future.

**Describe the solution you'd like**

Adding a "Did not finish" tab similar to the other book status tabs.

[2022-04-12 08:48] starryveshch opened #40 "[FEATURE_REQUEST] Filtering the books by tags"
**Is your feature request related to a problem? Please describe.**
If I have tagged some books as *science fiction* in the "For Later" list, it is hard to find them again.

**Describe the solution you'd like**
A functionality to filter the books by selecting multiple tags. If I want some classic science fiction books, then I can find them by selecting the tags *classic* and *science fiction*.

[2022-04-12 08:58] mateusz-bak commented on #40
Hello @starryveshch I found some issues about tags and filtering that will be fixed in the next release:

1. Tags from "for later" are not displayed in the sort dialog - will be displayed there
2. Current tags filtering works like "OR" - will be working like "AND" so you can display just books that have both science fiction and classic tag.
3. If book have for example two tags and we select them b

[2022-04-12 09:01] mateusz-bak commented on #39
Hi @starryveshch good idea! I will add did not finish status but probably wont add it as a tab (more than 3 tabs will couse the labels to not be displayed fully). I can add this as a position in settings same as trash or add as an option in three dor menu. What do you think?

[2022-04-12 09:15] starryveshch commented on #39
Adding it to the three dot menu would be good. Can you also make it have similar filtering and sorting functionality?

[2022-04-12 18:46] mateusz-bak commented on #39
Yeah, I think so. I will add the page first and add the filter/sort later. (with the holidays I have currently less time for this but I'm always happy when I have new ideas ;)

[2022-04-12 18:51] mateusz-bak commented on #40
Good idea with having both OR and AND, will think how to implement it nicely. And the tags auto-completion is planned! Thanks for the contributions!

[2022-04-20 19:14] rYR79435 opened #42 "[FEATURE_REQUEST] Cover selection"
**Is your feature request related to a problem? Please describe.**
Sometimes books on OpenLibrary have multiple covers uploaded to them. It would be nice if I can select which one I want.

**Describe the solution you'd like**
A modal that displays all availbale covers (if there are any).

[2022-04-22 18:42] mateusz-bak commented on #36
@Barmarel thanks for all the inputs! I added the grid layout and increased limit of title and characters, v.1.13.0 should be in store in next couple of hours.

About those suggestions:

I added them to backlog, but don't plan to release in v1.14.0. (You can check out the current progress here [Roadmap](https://github.com/mateusz-bak/openreads-android/projects/18))

[2022-04-22 18:47] mateusz-bak commented on #42
Hi @rYR79435 thanks for the suggestion!
I tried to find books with multiple covers on OpenLibrary but couldn't, do you have an example for that?
Or are you talking about different editions?

Anyway I'm thinking of adding a dialog as you said for selecting a cover from ones avaibale in OL.

[2022-04-22 20:56] rYR79435 commented on #42
This one has https://openlibrary.org/books/OL7359256M/Nineteen_Eighty-Four

Although looking at it without being logged in, I can't see them. Only when I log in do they appear under "Manage Covers". I'm not sure if this is possible.

[2022-04-23 19:38] Barmarel commented on #36
Спасибо 😃.

[2022-04-23 19:39] #36 closed

[2022-04-24 08:28] mateusz-bak commented on #42
I found it in the API (covers section), do you see two covers there?

Link to API: https://openlibrary.org/books/OL7359256M.json
[cover 1](https://covers.openlibrary.org/b/id/108160-L.jpg) [cover 2](https://covers.openlibrary.org/b/id/12725652-L.jpg)

And for example this one has 12 covers: https://openlibrary.org/works/OL45883W.json

Currently I pull only the first cover, but I think I can add op

[2022-04-24 13:24] rYR79435 commented on #42
Nice!
Since multiple covers were not showing on the web page, I was worried they would only be available while logged in. Glad the API provides them.

[2022-04-28 15:03] GitFincy opened #53 "[BUG] Incorrect icon button spacing in the 'In Progress' and 'For Later' categories"
**Describe the bug**
The 'Edit', 'Delete', and 'Grid/List Layout' buttons are squeezed together for books in the 'In Progress' and 'For later' section.

**To Reproduce**
Add a book in the 'In Progress' or 'For Later' category.
Click on the book you added.
You will see the three icon buttons squeezed together, making it difficult to click the specific button you want.

**Expected behavior**
The thr

[2022-04-30 22:54] mateusz-bak commented on #53
Hi @GitFincy , I've been able to reproduce this issue on my phone. I will include fix in the next update.
Thanks for contribution!

P.S. Did you say you installed app from F-Droid? I'm still waiting for them to include my app

[2022-05-01 11:01] rYR79435 opened #54 "[FEATURE_REQUEST] Update data based on OL"
**Is your feature request related to a problem? Please describe.**
I have added books in OpenReads that didn't have much info on OpenLibrary. It would be nice if OpenReads could re-fetch and update certain/all fields.

**Describe the solution you'd like**
And additional button in the book view (from where you can delete/edit/add to favourites) that would trigger the re-fetch.

**Describe alternati

[2022-05-01 17:58] GitFincy commented on #53
Oh, I got it from IzzyOnDroid (https://apt.izzysoft.de/fdroid/index/apk/software.mdev.bookstracker), sorry for the confusion.

Thank you for creating Openreads!

[2022-05-14 20:20] Toraquin opened #56 "[BUG] Adding a cover picture from file does not work"
**Describe the bug**
While adding a book manually I tried to add a cover picture. The app does offer taking a picture or upload it from local files. Choosing "take a picture", the app requests Android permissions for the camera, choosing "upload from file" nothing happens.

**To Reproduce**
Add a book manually, choose "click to add cover" and "upload cover from local files"

**Expected behavior**

[2022-05-15 11:49] tootbrute opened #57 "[FEATURE_REQUEST] Import Books From GoodReads CSV"
**Is your feature request related to a problem? Please describe.**
To make this a great alternative for those who have years of GoodReads.com book data, it would be amazing to be able to import the books I've read from a GoodReads CSV.

**Describe the solution you'd like**
- person downloads the CSV from GoodReads
- person opens the CSV in OpenReads
- OpenReads adds the books to the correct list -

[2022-05-15 12:32] mateusz-bak commented on #56
Hello, thank tou for the contribution. I did some changes with permissions when adding a F-Droid release and mistakenly blocked the covers. Will fix the changes and release soon.

[2022-05-15 17:25] SmutnyStefan opened #58 "[FEATURE_REQUEST] Koreader integration?"
**Is your feature request related to a problem? Please describe.**
Koreader is one of the most popular ebook readers for both e-ink and standard android devices. Alas it does not have a management tool that would allow me to integrate both physical books and ebooks
I would like the ability to pull out the book status and metadata from Koreader

**Additional context**
I am not a programmer so I don

[2022-05-16 07:12] PrasannaVenkadesh opened #60 "[BUG] No results when searching in regional language"
**Describe the bug**
While trying to add book by searching in OpenLibrary, searching for a book title in regional language (Tamil, in my case) doesn't yield any results, while invoking the OpenLibrary API with [httpie] http client from my GNU/Linux terminal yields results.

**To Reproduce**
1. Open the app
2. Add Book -> Search in Open Library
3. Copy "சோஷலிசம்" and press Search.

**Expected behav

[2022-05-17 06:16] PrasannaVenkadesh commented on #60
Update: The request using curl fails because of URL encoding issue. Looks like httpie internally handles encoding and decoding while curl doesn't. Could this be the issue with how search query parameters are handled in the app as well?

[2022-05-17 08:04] PrasannaVenkadesh commented on #60
Update: I was debugging the app and it doesn't look like url encoding issue. The URL in-fact is properly encoded and we do get response back. Refer screenshot below. However, the results are not displayed and there are no errors in the application as well.

I also frequently see this message "The application may be doing too much work on its main thread". This could be result of parsing the result

[2022-05-17 13:04] Toasterbirb opened #61 "[FEATURE_REQUEST] Track reading progress"
**Is your feature request related to a problem? Please describe.**
I'd like to save the current page I'm at into the app. A virtual bookmark you could say. This might also open the doors for more detailed statistics if someone is into that

**Describe the solution you'd like**
- open a book you are reading
- click some sort of button to open a menu that asks how many pages you have read or the new

[2022-05-17 15:07] grubeli commented on #57
I was looking for a Goodreads alternative for a while now, I think this app is very promising!

If you could add option to import from Goodreads would be amazing

[2022-05-17 15:15] PrasannaVenkadesh commented on #60
Figured out why this specific book is not displayed. Books without ISBN are not processed further. This has nothing to do with regional language, hence closing this and opening a new issue for supporting books without ISBN.

[2022-05-17 15:20] PrasannaVenkadesh opened #62 "[BUG] Books without ISBN are not shown"
**Describe the bug**
Continuing from https://github.com/mateusz-bak/openreads-android/issues/60
Books without ISBN are shown in search results.

**To Reproduce**
1. Open the App
2. Press the + Floating button in any tab and select "Search in Open Library"
3. Try "சோஷலிசம்"

**Expected behavior**
Should be able to see books without ISBN and add them to the list.

[2022-05-17 20:00] b3il0 opened #63 "[FEATURE_REQUEST] Transparent navbar (edge to edge)"
I know a lot of Android apps are having this in black, but maybe consider doing a transparent navbar (edge to edge) for a better experience.

https://developer.android.com/training/gestures/edge-to-edge

[2022-05-17 22:05] #56 closed

[2022-05-17 22:07] Victor239 opened #65 "[FEATURE_REQUEST] Sync with Calibre"
**Is your feature request related to a problem? Please describe.**
Calibre has a great interface for managing book progress on desktop but not so great on mobile compared to OpenReads. It would be useful to have them both sync together so book progress can be synced.

**Describe the solution you'd like**
Ability to sync with Calibre via Calibre content server or calibre-web

**Describe alternative

[2022-05-17 23:03] #53 closed

[2022-05-17 23:24] mateusz-bak commented on #56
Fixed, will release probably at the end of the week.

[2022-05-17 23:24] mateusz-bak commented on #53
Fixed, will release probably at the end of the week.

[2022-05-17 23:43] mateusz-bak commented on #63
Hi @b3il0 thanks for the idea! Although I'm not sure if I see the use case here. If we are talking about the `Status Bar` - what would be the befit here if in every screen we have `App Bar` (with title and buttons) at the very top so this should not be behind `Status Bar`.
And for `Navigation Bar` - in books list at the top we have the `Tabs` which should not be behind `Navigation Bar`. The only u

[2022-05-18 07:10] #39 closed

[2022-05-18 07:12] mateusz-bak commented on #39
Hi, I added the "not finished" status to the app, will release probably at the enf of this week!

[2022-05-18 07:35] mateusz-bak commented on #62
Hi @PrasannaVenkadesh thank you for spotting that! I will take a look a this today.

[2022-05-18 10:36] mateusz-bak commented on #57
Hello @tootbrute @mizzunet @grubeli thank you for the suggestion! I can see that this can be a helpful feature, I will work on this and release soon.

[2022-05-18 16:16] b3il0 commented on #63
Greetings @mateusz-bak sorry for the confusion with the link. I was only referring to the color of the system navbar. It is black in your app and if you made it transparent, it would also be white in light mode but black in dark mode.

I've attached an image where I made the navbar transparent to show what I mean.

![Screenshot_20220518-172327](https://user-images.githubusercontent.com/37301674/16

[2022-05-18 16:34] soc1ety opened #69 "[FEATURE_REQUEST] Share what you (plan to) read with a URL"
**Is your feature request related to a problem? Please describe.**

On similar services like Babelio we can share a list of books by generating a custom URL that anyone can see given he has already the URL.
It would be cool if we could do the same on OpenReads, in case we want to make some recommendations without giving the books' title one by one.

**Describe the solution you'd like**

A function

[2022-05-19 21:42] mateusz-bak commented on #62
@PrasannaVenkadesh I spotted the issue and added workarounds for adding books without ISBN, thanks for showing me that. Will release the fix around the weekend.

[2022-05-19 22:36] #62 closed

[2022-05-23 01:43] jphouston opened #81 "[BUG] Backup unsuccesfull when user has ~80 books"
**Describe the bug**
When I try to backup the database to either cloud or local storage, the app crashes after showing the loading wheel.  It only started this behavior when I had added more books to the app. I have tried quiting and restarting and this did not fix the issue.

**To Reproduce**
Settings - Backup - Cloud Backup / Local Backup

**Expected behavior**
App either opens the file manager

[2022-05-23 06:56] mateusz-bak commented on #81
Hello @jphouston thanks for reporting that. How many books do you have in your app and how many of them with a cover?

[2022-05-23 07:46] jphouston commented on #81
About 80 books, all with cover photos. That does give me an idea. I'll try deleting the ones with a cover photo I've taken myself as they might be uncompressed and quite large.

[2022-05-23 21:22] #81 closed

[2022-05-24 12:26] PrasannaVenkadesh opened #85 "[FEATURE_REQUEST] Contribute to OpenLibrary"
I would like to contribute to OpenLibrary via Openreads. Not all books are in OpenLibrary. If I add a book manually in Openreads, I would like to see a button to upload this book to OpenLibrary, provided I use my login credentials.

[2022-05-24 19:30] mateusz-bak commented on #81
@jphouston please try v1.14.2

[2022-05-26 14:48] kanado01 opened #86 "[FEATURE_REQUEST]"
This app is missing two key features that make it a viable alternative to goodreads. First, the app should have an option to import csv book lists. The main export option on goodreads and another app called badreads is csv backups. In order to migrate from either csv file importation is necessary. Second, it would be nice to have a yearly reading goal progress screen. This is another feature goodr

[2022-05-26 15:53] pionaiki opened #87 "[FEATURE_REQUEST] Add additional `Date started` and `Date finished` fields for those who re-read."
I sometimes re-read books and I find no option to note that in the app.

I suggest a `+` button under the existing date fields that creates a new pair of fields with a trash bin icon next to them. Like on the edited screenshots:
<p float="left">
  <img src="https://user-images.githubusercontent.com/51377752/170521303-2b68f896-7b5c-45db-82e8-c7dc5d8f4290.png" width="216px" />
  <img src="https://us

[2022-05-26 16:23] pionaiki commented on #86
CSV import related issue: #57, seems like the maintainer will work on this soon ;)

[2022-05-26 22:51] mateusz-bak commented on #87
Hello @pionaiki I like the idea and your designs, will try to implement in the nearest future!

[2022-05-26 22:54] mateusz-bak commented on #86
Hi @jakubnewcomb yeah as @pionaiki said I'm currently working on a CSV import/export. And for the yearly progress you can check that in statistics screen (for 2022 tab you have the option to see books progress and pages progress). Let me know if you have any questions or suggestions about this.

[2022-05-26 22:56] mateusz-bak commented on #85
Hello @PrasannaVenkadesh thank you for the suggestion. I looked through the Open Library's API and haven't found anything for submitting books. I'll talk with Open Library team about this and check if we can do this.

[2022-05-26 22:58] mateusz-bak commented on #69
Hello @soc1ety thank you for the suggestion although for having reading information on a link we would have to host a backend and for now the application is designed to work offline (except Open Library API). Maybe other solution would be to share books in a form of text not a URL?

[2022-05-26 23:00] mateusz-bak commented on #65
Hi @Victor239 thanks for the idea, I don't know Calibre much. I will check how it works and see if this can be implemented.

[2022-05-26 23:02] mateusz-bak commented on #61
Hello @Toasterbirb thank you for the submission. I think it would be possible down the road to implement this alongside tracking daily progress of reading. I will keep this in mind.

[2022-05-26 23:05] mateusz-bak commented on #54
Hi @rYR79435 thanks for the idea. It would be nice to refetch the data if new is available based on ISBN or Open Library ID. I will check how this can be introduced.

[2022-05-27 07:30] PrasannaVenkadesh commented on #85
I believe [this wiki](https://github.com/internetarchive/openlibrary/wiki/Endpoints) of API endpoints should help. But I could see they are also incomplete. For example, I could see endpoint to create a work, but endpoint for creating a edition is missing.

[2022-05-27 07:48] soc1ety commented on #69
Oh I didn't know about the backend thing, thanks for telling me.

Otherwise yeah it'd be a pretty good solution for now I guess, sharing readings would be a lot easier aswell

[2022-05-27 08:32] jphouston commented on #81
Working great! Was crashing again before the update and now it's working.

[2022-05-28 13:01] ghost opened #89 "[FEATURE_REQUEST] Possibility to choose edition of work, togheter with its cover"
Hello! I have a feature proposal that would fit nicely with [this one](https://github.com/mateusz-bak/openreads-android/issues/42).

Many books have different **editions**, all derivative of an original work; take [The professor ](https://openlibrary.org/works/OL271361W/The_professor?edition=ia%3Aprofessortaleofc01bronrich) by Charlotte Bronte, for example: 75 editions, with their own unique varia

[2022-05-28 13:42] felysu opened #90 "[FEATURE_REQUEST] Consider BookBrainz as a future data provider"
BookBrainz is a new user-based book database with a clean interface and an active team, which could be very useful as an alternative data provider in the app.
For example, it'd be nice if the user could choose between searching on OpenLibrary, BookBrainz, or both.

Bookbrainz website: https://bookbrainz.org/

BookBrainz is part of a bigger foundation called MetaBrainz: https://metabrainz.org/

[2022-05-29 21:16] mateusz-bak commented on #57
@tootbrute @mizzunet @grubeli @pionaiki @shbach @krillin666 @jakubnewcomb

Can you help me with testing the CSV import functionality? If yes please follow below steps:

1. **Create a backup of your current books**
Preferably in a cloud, if local then move the files out of `Local Storage/Android/data/software.mdev.bookstracker/files` In case of reinstall of the app you lose files there - so move th

[2022-05-29 21:58] pionaiki commented on #57
@mateusz-bak

I've imported my `.csv` and it worked, unfortunately, without the `Date started` but I am aware that's Goodreads' fault as they don't include it in the export.

I also have two suggestions:
- "Shelves" and tags in Goodreads are kind of the same thing so to import the tags (which are currently not imported) the app should use everything from the `Bookshelves` csv column minus the item

[2022-05-29 22:14] pionaiki opened #91 "[FEATURE_REQUEST] Don't count 0-star ratings in the average rating statistic or give an option to not leave a rating under a book."
There are books that I've read but don't want to rate (eg. setbooks, books I didn't like but think they are good etc.) and there is no option to not count them towards the average books rating in statistics.

I would like the app to either not count the 0-star ratings towards the average or give us an option on the book info editing page (maybe a crossed star to the left of the 5 stars or a checkb

[2022-05-30 00:02] Tototu76 opened #93 "[FEATURE_REQUEST] Add more space to write in the "notes" section, change its name to "review""
Add more space to write in the "notes" section, since it is too little space, and maybe change its name to "review", because that function does more with that than being "notes" itself, which I personally really likes

Create a space at the end where you can write comfortably, and be able to lower and raise the text (which is very easy now, because it can only be done with the cursor)

[2022-05-30 05:44] tootbrute commented on #57
I just did it. Wow! Looks great.

Of my 2174 books in my CSV it uploaded all but 6.

A quick scan of my books I assume these ones were not added:
- 2 had no title
- 1 was arabic title
- 3 had greek titles

[2022-05-30 10:24] mateusz-bak opened #94 "[BUG] Changelog shown when not necessary"
**Describe the bug**
Changelog is not shown only after app's update. It is shown also after:
- app restart after first installation,
- backup restoration,
- csv import

**To Reproduce**
- install app, close and restart
or
- restore Openreads backup
or
- import CSV

**Expected behavior**
Books lists are shown, not changelog

**Screenshots**
N/A

**Additional info(please complete the following infor

[2022-05-30 10:30] mateusz-bak commented on #57
Thanks all for checking!

@pionaiki would you mind sharing couple of examples from `Bookshelves`  `Exclusive Shelf` columns so I can have a better picture how this works? And for point if `abandoned` is not default just suggested maybe I can add parsing of shelves and the user would select a specific shelf for `not finsihed` in Openreads?

@mizzunet the changelog sometimes shows unnecessary, I wil

[2022-05-30 10:32] mateusz-bak commented on #93
Hey @Tototu76 the point make sense, thank you! Will try to implement.

[2022-05-30 10:37] mateusz-bak commented on #90
Hey @felysu thanks for the suggestion! Will take a look at this source and check if it fits with the app.

[2022-05-30 10:39] mateusz-bak commented on #89
Thanks for the suggestion @felysu I need to rethink the whole process of getting books from Open Library as I had some workaround for displaying editions not in english language. Will keep this one in mind

[2022-05-30 10:48] pionaiki commented on #57
@mateusz-bak

That's a good idea.

Here is a screenshot of my csv:
![Screenshot](https://user-images.githubusercontent.com/51377752/170975567-27035e12-aa06-41f5-b3ad-cadd9bb59b98.png)

So for example in the 8th line `lang-polish` and `school` are tags and `abandoned` is the shelf because it shows in both columns.

[2022-05-30 11:20] mizzunet opened #95 "[FEATURE_REQUEST] Books count"
**Is your feature request related to a problem? Please describe.**
isn't it good idea to display the total number of items in section Finished, In Progress and For Later?

**Describe the solution you'd like**
Either here,
![image](https://user-images.githubusercontent.com/10193999/170922115-c5ceb6e6-397b-4b9d-8ee4-c4ac5a8c6192.png)

or perhaps at the top,
![image](https://user-images.githubusercon

[2022-05-30 16:43] mateusz-bak commented on #57
@pionaiki to clarify, is the `abandoned` a shelf because it is in the `Exclusive shelf` column or because it is on both of them? I ask because I'm not sure if I just parse the `Exclusive shelf` and see what shelves we have there except the default three or I need to compare with `Bookshelves` column also.

[2022-05-30 18:21] thrillfall opened #96 "[FEATURE_REQUEST] Fediverse bookwyrm Integration"
https://joinbookwyrm.com/
is your library connected to the library of other through fediverse. You can track your readings, your want to read, have read, reading challenges. You can follow others in their reading.

It is like goodreads but without evilcorp owning and monetizing your data and behavior.

How could this look like?
Your activity in the app could be synced to your bookwyrm account. The

[2022-05-30 19:36] pionaiki commented on #57
@mateusz-bak

It's the shelf because it's the one in the Exlusive shelf and everything from the Shelves except the one is tags

[2022-05-30 20:30] mateusz-bak commented on #57
@tootbrute @mizzunet @grubeli @pionaiki @shbach @krillin666 @jakubnewcomb

Please check v1.15.0-rc2 updated now with recognizing book tags and unfinished status. Waiting for your feedback!
[v1.15.0-rc2](https://github.com/mateusz-bak/openreads-android/releases/tag/v1.15.0-rc2)

[Here](https://github.com/mateusz-bak/openreads-android/issues/57#issuecomment-1140525928) are instructions and don't for

[2022-05-30 20:34] thrillfall commented on #96
Bookwyrm is not exposing an api yet (besides activityPub)

[2022-05-30 20:36] mateusz-bak commented on #57
@tootbrute @mizzunet @grubeli @pionaiki @shbach @krillin666 @jakubnewcomb

Please check v1.15.0-rc2 updated now with recognizing book tags and unfinished status. Waiting for your feedback!
[v1.15.0-rc2](https://github.com/mateusz-bak/openreads-android/releases/tag/v1.15.0-rc2)

[Here](https://github.com/mateusz-bak/openreads-android/issues/57#issuecomment-1140525928) are instructions and don't for

[2022-05-30 22:07] jakubnewcomb commented on #57
My app crashes when I try to import a csv.

[2022-05-31 08:38] mateusz-bak commented on #57
@jakubnewcomb would you mind sharing your csv with my in private?

[2022-05-31 08:40] mateusz-bak commented on #57
@mizzunet the to read books import fine with isbn for me, can you send on an example book from csv that got importet without ISBN?

[2022-05-31 08:42] mateusz-bak commented on #57
@tootbrute yeah the covers are a bummer... And I could identify those 26 books and fix the algorithm I you could share your csv with ke in private.

[2022-05-31 08:52] tootbrute commented on #57
sent. hope it helps improve the algorithm! thanks for including this feature i finally have no excuse to leave goodreads.

[2022-05-31 19:55] mateusz-bak commented on #57
@mizzunet yeah that books don't have ISBN in the CSV so no issue with the import. Do they have ISBN in Goodreads? Thanks for the csv!

[2022-05-31 21:43] mateusz-bak commented on #57
@tootbrute and everyone who has some time to check if nothing got broken

Please check v1.15.0-rc3 updated now with recognizing not finished books in statistics, improved the "unfinished bookshelf" dialog when importing csv and improved readability of pie chart. Waiting for your feedback!
[v1.15.0-rc3](https://github.com/mateusz-bak/openreads-android/releases/tag/v1.15.0-rc3)

[Here](https://githu

[2022-05-31 22:54] ashwebcode commented on #57
Tried v1.15.0-rc3 and it worked great for me @mateusz-bak. I'm officially deleting my Goodreads account 👍

[2022-06-01 11:37] mateusz-bak commented on #57
@jakubnewcomb I tried the csv you send to me and the import is successful on my device.

Can you please confirm below questions:
1. Is there only one book in the csv?
2. You click 1Import books from CSV` in settings and choose the correct file
3. You use 1.15.0-rc3 version

[2022-06-01 18:59] mateusz-bak commented on #57
@kanado01 glad you were able to do that, would be awesome though to see what was the original problem.

I figured a way we can see what is causing the crash.

Can you install v1.15.0-rc4? I added a possibility to send an email with logs after app crashes.

Please follow the backup [steps](https://github.com/mateusz-bak/openreads-android/issues/57#issuecomment-1140525928), download v1.15.0-rc4 from

[2022-06-02 00:48] ashwebcode commented on #57
I noticed the imported books don't have a cover, even for the ones it has the ISBN. Is there a way to easily add the covers?

[2022-06-02 01:36] tootbrute commented on #57
I was also curious about that. I know it would involve lots of manual work but would really be the cherry on top after switching.

[2022-06-02 20:40] mateusz-bak commented on #57
@kanado01 okay then, let's hope it was only some local issue!
@ashwebcode @tootbrute unfortunately as csv has only text it can't have covers imported. Workaround would be to automatically download covers but I'm not sure how this should choose the edition for now. I will by implementing anyway adding covers from Open Library to existing books so you can get covers after the import!

[2022-06-02 21:27] #57 closed

[2022-06-02 21:54] mateusz-bak commented on #93
@Tototu76 I changed the notes to review, and increased the size of the text box (it will resize when you add more lines).

But I struggle to understand this:

Would you explain more about this?

[2022-06-02 22:10] mateusz-bak commented on #91
Ok so after giving it some thought I agree - it makes sense to not count 0 starts to average rating. It should be treated as not rated

[2022-06-03 07:56] #94 closed

[2022-06-03 07:56] mateusz-bak commented on #94
Fixed in v1.15.0

[2022-06-03 08:33] #91 closed

[2022-06-03 08:33] mateusz-bak commented on #91
Fixed, will be released in v1.15.0

[2022-06-03 09:50] mateusz-bak commented on #86
Implemneted, will be released in v1.15.0

[2022-06-03 09:50] #86 closed

[2022-06-03 13:53] Tototu76 commented on #93
First, thank you very much for taking into account the opinion of your user, your app and you are incredible! ^^

Now, sorry for my bad english, i meant that it would be nice if the "review" space was not next to the cover, but in its own place at the end of the editing space. And about the cursor: when you want to lower or raise the text you've been writing in the box, you find that you can't sli

[2022-06-05 10:35] mateusz-bak commented on #57
@pionaiki @mizzunet @tootbrute @ashwebcode @kanado01 @grubeli @lazerleif @shbach @krillin666

Thank you all for the support! Csv import has been implemented in the newly released v1.15.0. It is available to download from Github now, should be in Google Play in 1-2 hours and in F-Droid in couple of days. Cheers!

[2022-06-07 02:29] Tototu76 commented on #93
First, thank you very much for taking into account the opinion of your user, your app and you are incredible! ^^

Now, sorry for my bad english, i meant that it would be nice if the "review" space was not next to the cover, but in its own place at the end of the editing space. And about the cursor: when you want to lower or raise the text you've been writing in the box, you find that you can't sli

[2022-06-07 07:52] Atrate commented on #58
[Koreader repo link](https://github.com/koreader/koreader/)

A plugin is one way to do it, another would be for Openreads to process the koreader stats databases/book metadata files directly, they contain various stats such as book start/finish times, time read per day, time spent per page, ratings, reviews etc.

[2022-06-07 08:18] mizzunet opened #110 "[FEATURE_REQUEST] Goodreads backend support"
**Is your feature request related to a problem? Please describe.**
OpenLibrary database missing plenty of books

**Describe the solution you'd like**
* Use Goodreads as a backend or
* make it available as an option and let user can choose it.

**Describe alternatives you've considered**
I wrote an unofficial API thingy for Goodreads. It's not perfect, but it works.
https://gruapi.herokuapp.com/

L

[2022-06-08 16:53] mateusz-bak commented on #110
Hey @mizzunet I'm thinking really hard about adding different sources for book searches.

Regarding Goodreads database I'm not convinced that it will suit Openreads. I'm going through their [terms & conditions](https://www.goodreads.com/api/terms) and see some obstacles like:
- `Not use the API to harvest or index Goodreads data without our explicit written consent.` - I don't think they will allo

[2022-06-08 17:24] mateusz-bak commented on #93
Hey @Tototu76 check if version [v1.16.0-rc1](https://github.com/mateusz-bak/openreads-android/releases/tag/v1.16.0-rc1) and see if that's what you have in mind and if there are any changes I should make ;)

[2022-06-08 18:11] ShimonHoranek opened #111 "Add an option to scan barcode for isbn when adding a new book"
Currently when manually adding a book you have to type out ISBN manually. Utilizing already existing barcode scanner could make this easier.

[2022-06-09 06:19] Tototu76 commented on #93
Hiii @mateusz-bak
It looks really great!! Only two things, the first is that there is still a very small writing limit, when on average the reviews (at least mine, and from readers I know) tend to be very long, and the second is that, for ease from the user, I think it would be better to put the cover box above and not below the editing space :o
That's all, thank you very much ^^

[2022-06-09 06:26] mateusz-bak commented on #93
I missed the text limit, good catch. Will increase to something big.

And the covers do yoy think it should be at the top even above book title?

[2022-06-09 12:29] Aspiring-Writer commented on #61
A percentage would be nice too, like you can input the page number or the pecentage. This is great for eBook readers, because the page numbers can change according to the font size, screen size, margins, etc. that we set on our device.

[2022-06-09 14:29] mateusz-bak commented on #93
I changed to 2000 characters do you think that is enough?

Also I think the cover will look best at the bottom anyway because it only takes half of the screen and I don't want to mess with the layout. Maybe when we have more fields in the future and I will need to redesign the page I will move it to top or somewhere else!

[2022-06-09 14:30] mateusz-bak commented on #111
Hi @ShimonHoranek I like the idea, will implement, thanks!

[2022-06-09 15:14] #111 closed

[2022-06-09 15:14] mateusz-bak commented on #111
Implemented, will be added in v1.16.0

[2022-06-09 15:31] Tototu76 commented on #93
Your resolution with the matter of the cover seems good to me. And, with the 2000 characters, well, counting the characters of one of my last reviews, it reaches 4000, I don't know what you think of that, or if you can enlarge it :o

[2022-06-09 16:54] mateusz-bak commented on #93
4000? Amazing! Let's make the max 5000 then?

[2022-06-09 17:05] Tototu76 commented on #93
That was a such great book, hahaha. Yeees, that would be incredible, thank you ^^

[2022-06-09 17:14] #93 closed

[2022-06-09 17:15] mateusz-bak commented on #93
Cool! Implemented, will be released in v1.16.0 soon

[2022-06-09 19:19] matthias4217 opened #116 "[BUG] Search cannot find ebooks"
**Describe the bug**

When looking for an ebook from OpenLibrary, such as [Black Library Celebration 2022](https://openlibrary.org/works/OL27774951W/Black_Library_Celebration_2022), I cannot find it using the Openreads search.

**To Reproduce**

Unfortunately, I haven't found much ebooks in OpenLibrary. The only ones I have found are the ones I have added. I'd like to have some more examples, beca

[2022-06-09 19:25] mateusz-bak commented on #116
Hey @matthias4217 thank you for submitting this issue! I will check why there's a problem with ebooks. Cheers!

[2022-06-09 21:27] #40 closed

[2022-06-09 21:31] mateusz-bak commented on #40
@starryveshch sorry I took some time but I added AND & OR tags filtering. Will be implemented with v1.16.0 soon!

[2022-06-12 17:59] mateusz-bak commented on #63
@b3il0 changed the nav bar to transparent. Looks good on the emulator with gesture navigation in light and dark mode and in 3 button navigation in dark mode (in light mode it is grey on the emulator though - but still better than black).

I was a little confused for some time and then discovered that when I don't set the nav bar to transparent it is black in emulator and white on my phone with 3 b

[2022-06-12 19:02] #63 closed

[2022-06-15 06:42] lokesh-krishna opened #121 "[FEATURE_REQUEST] Material You support"
Please consider adding Material You support

Not only would it be make the app feel more at home in modern devices, it would also make for a great marketing point.

[2022-06-15 19:00] Khyta opened #122 "[FEATURE_REQUEST] Progress bar per book for the books "In progress""
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when i cannot see the progress of a book being currently read on the app in the "In progress" tab.

**Describe the solution you'd like**
I would like to have a progress bar ranging from 0-100% to see how far you've read. I would also for that to work add a field which says "Progress:" and in which you could ei

[2022-06-20 08:34] GeorgelPreput opened #124 "[BUG] App crashes when adding book"
App crashes on Samsung S21 when trying to add book as follows:

- open app
- tap + button
- select Search in OpenLibrary
- paste in 9781847921260
- select any result
- hide the keyboard

[2022-06-22 06:24] unchartedpopsicle opened #125 "[FEATURE_REQUEST] Sort by authors last name"
**Is your feature request related to a problem? Please describe.**
When sorting by author the app currently goes by first name.

**Describe the solution you'd like**
Please sort it by last name instead.

[2022-06-23 13:25] mateusz-bak commented on #121
Hi @lokesh-krishna thats a good idea! Will work on the feature.

[2022-06-23 13:26] mateusz-bak commented on #124
Thanks for the inputs, will check what's causing the problem.

[2022-06-24 20:41] mateusz-bak commented on #124
Found the issue and improved handling of books with `null` as cover ID. Will be fixed in v1.16.0, thanks for the help!

[2022-06-24 20:47] #124 closed

[2022-06-24 22:07] mateusz-bak commented on #116
Ok found the issue: search for this books returns a record with two ISBN numbers that are missing from Open Library. App will look up the book also by Open Library ID.
Currently it would search by OLID only when ISBN was missing.

Thanks for the contribution, fix will be released in v1.16.0

[2022-06-24 22:25] #116 closed

[2022-06-26 15:40] Arnvidr opened #130 "[BUG] App crashes when adding book (OutOfMemoryError)"
When the book list grows, adding books crashes the app more and more frequently. At first, it crashed after adding books, when trying to go back to the list screen. After a point, this crash happened after every book added, until the point where the app now crashes when selecting a result from the search screen (searching Open Library).

 - Manufacturer and model: Sony Xperia 10 II
 - Android vers

[2022-07-05 19:05] ArveMediaconnect commented on #130
It occurs to me that the above stacktrace shows no code paths belonging to openreads, so I went back to the logs, this time on the new version 1.16.0. Here is the latest error in the log after clicking the add icon in the For Later tab, where I have a long list, selecting Search in Open Library, making a search, and selecting a result.

[code]

...which, frankly, I'm also not able to read very wel

[2022-07-07 06:13] Turbolqk opened #133 "[FEATURE_REQUEST] Add a camera chooser dialog"
When taking a photo of a book cover,  adding a camera dialog (choose your camera app) or respecting the system default choice should be the norm.
Right now if you use a different camera app (OpenCamera) and disable the stock one (Camera2) the app crashes because it cant find the stock one.

[2022-07-10 08:35] starryveshch commented on #40
Thanks a lot for that.

[2022-07-18 19:03] bsvka commented on #133
Can't reproduce. I get asked which camera should fulfill the intent.

[2022-07-18 19:19] bsvka opened #134 "[BUG] Can't properly add OL27720165W"
**Describe the bug**
When searching for "M.D. trinkt" the book is found correctly. When I click it, not all data available from OL is copied and the OL ID is botched. Title, publish year and cover work, No. of pages is lost and the ID is missing the last 3 characters. See screenshot below.

**To Reproduce**
1. Search "M.D. trink"
2. Add book

**Expected behavior**
Correctly fetch data, don't botch

[2022-07-28 06:15] notjedi commented on #134
[works/OL277201](https://openlibrary.org/works/OL277201) does not exist. nor do i get any [results](https://openlibrary.org/search?q=M.D.+trink&mode=everything).

[2022-07-28 06:17] notjedi commented on #134
this is an [openlibrary](openlibrary.org) issue. the [webpage](https://openlibrary.org/works/OL27720165W/M.D._trinkt_Abends_gerne_ein_Bier) corresponding to the book does not have any ISBN in it.

[2022-07-29 15:51] smlpt opened #135 "[FEATURE_REQUEST] Add option to export database as a Goodreads CSV file"
**Is your feature request related to a problem? Please describe.**
Since there's already a CSV import option, it might be possible to implement an exporter as well? As it would be a great way to transfer your library to other services like Open Library or Bookwyrm, which accept Goodreads CSV files as an import option.

**Describe the solution you'd like**
Another option under the "backup" settings

[2022-08-05 13:48] abaumfalk opened #136 "[FEATURE_REQUEST] automated & shared cloud sync"
**Is your feature request related to a problem? Please describe.**
We have a library which is shared among the family, so I would like to share the catalog, too.

**Describe the solution you'd like**
I would like to use private shared cloud space to share the catalog in a way that it is automatically synced with all participants. To avoid conflicts I could live with some simple restrictions: exclu

[2022-08-08 21:27] biicwlim commented on #135
This would be a great improvement!  I would love to see it too.
It would also make it helpful so one could see the format for the CSV imports.  I migrated from another app, but didn't know how to format it to import into Openreads, so I had to manually input hundreds of books--a tedious process!
One question with a CSV export is if it would be possible to maintain the cover images.  The app I migr

[2022-08-08 21:35] biicwlim opened #137 "[BUG] Doesn't find some books from OL"
**Describe the bug**
I periodically have come across books that are in Open Library, but cannot be found in Openreads using the ISBN or Open Library ID that appear on the book page.

For one test example, "More Than Conquerors", 97808018404, OL39216940M

I don't know if this is an issue with Openreads, or the OpenLibrary APIs.

**Additional info(please complete the following information):**
Cricke

[2022-08-08 21:38] biicwlim opened #138 "[BUG] App crashes when changing a book from "Finished" to "In Progress" or "For Later""
**Describe the bug**
If a book is imported and accidentally (or intentionally) listed as finished, then moved to "in progress" or "for later", the app crashes.  It can then be reopened with the change complete.

**Expected behavior**
Such a data change should occur without the app to crashing.

**Additional info(please complete the following information):**
Cricket Icon 3
Android 11
Openreads 1.16

[2022-08-08 21:45] biicwlim opened #139 "[FEATURE_REQUEST] Improved Tags or a Location column"
**Is your feature request related to a problem? Please describe.**
My use case is keeping track of the books I own, where they go, and what I have loaned out.
Right now I use tags to split them by genre / section, if it is an eBook, and if I am borrowing one or have it loaned out.  Books that I am using or have at home instead of on the office shelf get put in "in progress".

**Describe the soluti

[2022-08-15 01:02] teslahitchhiker42 commented on #139
Would making it so users could add arbitrary lists solve this issue? I've wanted to make lists apart from the 4 that already exist (Finished, In Progress, For later, and Not finished). I would use it for a "To read again" list and a "in progress but need to start over reading" list specifically.

[2022-08-15 14:30] biicwlim commented on #139
Yes, that would make the app much easier for my case!  I would make a "Borrowed" and a "Home" list.
I know I'm kind using the app "off-label" for a different use case, but you've written a great app that seems to be filling a unique niche in the open source world.

[2022-08-16 01:19] teslahitchhiker42 commented on #139
Oops, lol, I realize my comment made it sound like I'm a developer. I only meant that I wish the app allowed for creating more lists, not that I wanted to add the feature myself. But it sounds like a feature allowing the creation of arbitrary lists would solve the issue both you and I are having.

[2022-08-17 22:19] #134 closed

[2022-08-17 22:20] mateusz-bak commented on #134
@bsvka @notjedi Fixed, will be released in v1.17.0

[2022-09-01 15:41] Johnny5sword opened #145 "[FEATURE_REQUEST] Sort by first published date"
**Is your feature request related to a problem? Please describe.**
Currently, there is no option of sorting the books in your library in chronological order or latest to earliest.

**Describe the solution you'd like**
Add another option in the sort books option for ordering the books by first published date

**Describe alternatives you've considered**
Another Android FOSS app, [Badreads](https://g

[2022-09-05 05:11] Darkempire78 opened #146 "[FEATURE_REQUEST] Add Android Material You icon"
**Describe the solution you'd like**
https://developer.android.com/develop/ui/views/launch/icon_design_adaptive
Since android 13, icons should follow Material You

[2022-09-11 03:56] miguelmaiquez opened #147 "Error when sorting by date finished"
Books with certain finished dates aren't sorted right.

When a book is added with 1982 as the finished date, it is listed before the 2000s ones, even if the list is sorted in descendent order (or after, if it's sorted in ascending order). Same thing wth books with other 1980s dates, etc.

![or](https://user-images.githubusercontent.com/5161774/189511704-9fa9a947-6dc3-4fca-a8e4-eb6ce9cb9d1b.png)

-

[2022-09-11 04:17] miguelmaiquez opened #148 "A more flexible way to add the date finished"
Right now, adding an old date as the date finished (1980, for example) means pressing the calendar arrows multiple times until reaching the desired date (month by month, year by year).

Also, the current calendar system only allows to add exact dates, when we often remember the year we finished reading a book, but not the day and the month.

Both problems could be solved, if possible, with an opti

[2022-09-16 01:14] mrpotatocode opened #149 "[FEATURE_REQUEST] iOS support?"
Fantastic app -- I'm very much enjoying it. Thank you for your amazing work.

Unfortunately my other half has an iphone and is jealous.
I understand this is a huge ask, but no one seems to have asked before, and I wanted to express interest!

Maybe somewhere later down the road? 🤞

[2022-09-19 14:14] brucetheelephant opened #150 "[FEATURE_REQUEST] Add Independent (and Manual) Sort Order for Each Tab"
**Is your feature request related to a problem? Please describe.**
When you choose a Sort Order, that order is applied all tabs.

If I choose to sort by Start Date in the In Progress tab then it will be applied to the In Progress tab and to the Finished tab as well. If I want to sort by Finish Date in the Finished tab then I will have to resort books. And then if I move back to the In Progress tab

[2022-09-19 14:27] brucetheelephant opened #151 "[FEATURE_REQUEST] Add "Remember Last Position In The List" option in the Settings"
**Is your feature request related to a problem? Please describe.**
So after you View or Edit a book and press Back, the Tab View is "refreshed" and you are shown the top of the tab, the top of your list. When you want to View or Edit multiple books which are lower in the list, you have to scroll down, perform the operation, press back, then scroll down again (because the Tab View saw "refreshed"),

[2022-09-20 18:24] MichalSvatos opened #152 "[FEATURE_REQUEST] Select covers from Open Library for imported books"
**Is your feature request related to a problem? Please describe.**
I've just imported books from Goodreads CSV and all the books are without cover.

**Describe the solution you'd like**
Possible solutions I can think of.
- Option to "merge"/"link" local book to Open Library to fill missing information.
- Add option to the popup menu - [Take photo of your cover], [Upload cover from storage], [**Sea

[2022-09-22 08:58] sonalder-darlene opened #153 "Keep track of who you've lent your books to (and who lent you some) [FEATURE_REQUEST]"
As physical books are really nice when you want to lent them to your friends or familiy they can often be lost.
If OpenReads could keep tracks of my reading and my lending books it would be amazing.
Also having the feature to note who lent you this book so you don't forget to give it back when you're done reading it.

When you had a book you should have a checkbox that indicate that this book isn'

[2022-09-22 14:36] skeptronus opened #154 "[FEATURE_REQUEST] UI Improvements etc"
1. "Add a new book":
- The default status is "finished". I think it is more reasonable to use "In progress", as when someone's adding a new book, it is more likely that they are currently reading it. Also in that case the current date should be the start date, not finish date.
- The save button is at the bottom of the screen, which is not very convenient. A button at the top or a floating button w

[2022-09-27 20:42] DSiekmeier opened #155 "[BUG] Crash when creating cloud backup"
**Describe the bug**
The app crashes without any message when selecting the menu point "Create oud backup" (Cloud-Backup erstellen).

**To Reproduce**
Tap on the menu point under settings.

**Expected behavior**
Some appropriate dialog should appear, I guess.

**Additional info(please complete the following information):**
 - Manufacturer and model: Huawei P30 lite
 - Android version: EMUI 12
 - A

[2022-09-28 09:23] mateusz-bak commented on #155
Hi, so sorry to hear that. Are you able to create a local backup?

I'm working currently on the app refactor and backup should cause less issues.

[2022-09-28 09:27] mateusz-bak commented on #154
I like the ideas here.

First the book status of new book depends on from what tab you add it like @PassionateG1t said.

I agree to the point that when adding a new book from in progress tab should have today's date prefilled - will correct that.

And also agree on re-arranging the tabs.

All this will be implemented in the v2 refactor I'm currently working on.

[2022-09-28 17:51] DSiekmeier commented on #155
Actually also creating a local backup does not work. There appears a toast, saying the file was saved successfully, but the folder on the local storage is empty.

[2022-10-09 17:16] magnus-ISU opened #157 "[FEATURE_REQUEST] Smoother UI for adding a book from Open Library"
**Is your feature request related to a problem? Please describe.**
 ~~I'm always frustrated when adding a book from OL because often the same book is listed several times in different languages and it is harder than it should be to pick out the right one.~~

Also, after finding the right book, I don't typically manually edit the fields. The way it currently works though, I have to hide the keyboar

[2022-10-11 21:01] magnus-ISU commented on #157
You can filter by language, and its preserved across app restarts. I'm dumb.

[2022-10-17 20:02] exstntlmsnthrp opened #159 "[BUG] App crashes when adding new books on 1.17.0"
**Describe the bug**
I upgraded from 1.16.0 to 1.17.0 and app crashes when trying to add new books.

**To Reproduce**
Download 1.17.0 from GitHub. Update app. Click "+" button to add a new book. Select any option. When adding manually or when searching in Open Library, app crashes before you can fully enter information. When attempting to scan barcode, app crashes before being able to scan barcode

[2022-10-17 21:14] exstntlmsnthrp commented on #159
@mateusz-bak Thank you for the very fast reply (and for the brilliant app).

Let me install the new version again to try and answer your follow up questions.

Yes, I was able to create the backup before I removed the 1.17.0 version the first time

[2022-10-17 21:21] exstntlmsnthrp commented on #159
Okay. I installed 1.17.0 again. I can click and view existing books in the library and I can edit items related to existing books.

It will only crash when I attempt to add new books. I'm not a developer by any means, but my first guess would be to look at how the new version is interacting with Open Library. The app will only crash when trying to search Open Library - manually or by scanning.

I

[2022-10-17 21:56] mateusz-bak commented on #159
Okay I spotted crashes after searching in Open Library and deleting a book. Will try to prepare a fix tomorrow.

[2022-10-18 20:12] mateusz-bak commented on #159
@exstntlmsnthrp

I reverted some changes from 1.17.0 release. Could not reproduce the issue unfortunately on my debugging setup so can you test 1.17.1-rc1?

 ### Please take a backup of your books first and save the in a safe location (cloud probably).

Here is the link for the 1.17.1-rc1 version: https://github.com/mateusz-bak/openreads-android/releases/tag/1.17.1-rc1

I don't want to spend a lot

[2022-10-18 20:28] exstntlmsnthrp commented on #159
Thank you! I will test it when I'm home. I saved both local and cloud backup, so I'm fine there.

Honestly, I'm happy to hear that progress with the Flutter app is going well. I'd rather you put your energy and time into that. If this doesn't work, I'll just use 1.16.0 until you release the Flutter app.

[2022-10-18 22:25] exstntlmsnthrp commented on #159
Okay, whatever you did seems to have resolved the problem for me. The testing build doesn't crash like 1.17.0.

Cheers. I look forward to seeing the new app in flutter.

[2022-10-19 01:49] Charan-ravi opened #160 "App crashes when search is performed [BUG]"
**Description**
App crashes everytime when I search in open library.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
Search results to be displayed as shown in screenshots.

**Screenshots**
If applicable, add screenshots to help explain your problem.

https://user-images.githubusercontent.com/52713551/196578137-24501f5f-5e8c-4192-823f-8eb121c5d0bc.mp4

**Additional info(p

[2022-10-19 07:18] iHnR commented on #160
I'm having the same issue on OnePlus Nord CE running android 11. I don't think it's relevant here but I run microg instead of play services.

[2022-10-19 11:19] mateusz-bak commented on #160
Hi @Charan-ravi and @iHnR  thanks for reporting this! It might be connected with #159

Can you try the 1.17.1-rc1 build to see if the issues still happen?

 ### Please take a backup of your books first and save the in a safe location (cloud probably).

Here is the link for the 1.17.1-rc1 version: https://github.com/mateusz-bak/openreads-android/releases/tag/1.17.1-rc1

[2022-10-19 12:12] iHnR commented on #160
@mateusz-bak it works fine in the new version.

[2022-10-19 16:27] mateusz-bak commented on #160
@Charan-ravi did you try this maybe?

[2022-10-19 20:21] mateusz-bak commented on #159
1.17.1 released with the fix, please re-open the ticket if crashes still occur.

[2022-10-19 20:21] #159 closed

[2022-10-19 20:21] mateusz-bak commented on #160
1.17.1 released with the fix, please re-open the ticket if crashes still occur.

[2022-10-20 04:00] hoshsadiq opened #163 "[BUG] NPE when search Open Library"
**Describe the bug**
I got a NPE when searching in Open Library to add a book.

[code]

**To Reproduce**
Open OpenReads
Click "For later"
`+` icon
Search in Open Library
Search for `The Mirage matt ruff`

**Expected behavior**
Should show me a list

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional info(please complete the following information):**
 - Manuf

[2022-10-20 08:10] mateusz-bak commented on #163
Hi @hoshsadiq Thanks for bringing to my attention! It should be resolved in 1.17.1 that I released yesterday. You can wait couple of days for F-Droid release or take a cloud backup of your books and install .apk from Github!

[2022-10-20 17:24] brucetheelephant opened #164 "[BUG]"
**Describe the bug**
New books don't appear / don't show in the list after adding them.
They are there because if I search for them using the SEARCH function I can find them, I can click on the title and I can view the book information but if I just scroll down the list the book does not appear / does not show there.

**To Reproduce**
Steps to reproduce the behavior: Add a new book and see if it a

[2022-10-20 17:30] mateusz-bak commented on #164
Hi @brucetheelephant maybe to book is sorted out by your filters?

[2022-10-21 13:04] Charan-ravi commented on #160
It worked with the version 1.17.1 pre-release

[2022-10-21 15:35] #164 closed, assigned to mateusz-bak

[2022-10-22 12:35] hoshsadiq commented on #163
Aah perfect! That works. Thank you

[2022-10-22 12:35] #163 closed

[2022-10-22 22:19] ctntt opened #165 "[FEATURE_REQUEST] Digital Bookmarks"
**Is your feature request related to a problem? Please describe.**
I thought this app was a way to get rid of bookmarks inside the book which sometimes get lost especially if you stop reading a book for a long period. I wanted to enter and save the page I am currently on inside the app.

**Describe the solution you'd like**
Add a section like "Bookmark" or "Current Page" to the book editor where o

[2022-10-23 18:06] magnus-ISU opened #166 "[FEATURE_REQUEST] associate a file with a book, and open with an ebook reader from openreads"
**Is your feature request related to a problem? Please describe.**
KoReader has no book discovery features. It would be cool if OpenReads would scan your files for an ebook named something like what you added, and/or allow you to specifically select a file which is a certain ebook, and then long-clicking it would open that book in a different reader app.

**Describe the solution you'd like**
When

[2022-10-26 15:12] matthias4217 opened #167 "[BUG] Empty book selection in 1.16/1.17"
`Finished`, `In progress` and ` For later` tabs are empty. I've added many books, but none show up. After seeing #164 I went to the sort tab. No tag was ticked. I've toggled one, and the books with such a tag appeared in the right list. I then deactivated this tag (meaning that as before, no tag was ticked), and every book reappeared. This bug first appeared in `1.16` I think (though it might have

[2022-10-26 15:19] matthias4217 opened #168 "[FEATURE_REQUEST] Select All/None button in the Sort UI"
**Is your feature request related to a problem? Please describe.**
Related to #167, I wanted to select every or no tags, and as I have a dozen or so, it has taken a bit of time to select them all manually.

**Describe the solution you'd like**

 A "Select all tags"/Select no tags (and same for the years) button would be nice to have. My only concern is that it would mean cluttering the Sort tab.

[2022-10-26 20:20] smlpt commented on #135
@biicwlim As a workaround I wrote a short python script that takes the books.sql file from the local backup, does some conversion and exports it as CSV. Its hacky and held together by spit and duct tape, but it works for my needs, meaning an import to Bookwyrm.

[code]

[2022-10-26 20:20] smlpt commented on #135
*didn't mean to close this

[2022-10-27 08:04] mateusz-bak commented on #167
Hi @matthias4217 thanks for bringing that up. The sort implementation is not the best and will refactored as a part of the new 2.0 release this year. I will leave this open so we can check if issue is resolved then.

[2022-10-27 08:06] mateusz-bak commented on #168
I like the ideas, will try to implement them in 2.0+ release.

Anyway for now how this should work: if you don't select any tags and no years in the sort windows it will display all your books.

[2022-11-01 17:00] gdt opened #171 "[BUG] App makes noise when scanning a barcode"
**Describe the bug**
The app makes noise when scanning a barcode, and obviously it should not.

**To Reproduce**
Install app.  Open.  Click through welcome screens.  Move to in progress.   Click add, select QR, click allow while using for camera.  Point camera at UPC on back of book.   See the barcode appear on the screen with something to push that says 'look up in openlibrary".  This is all good

[2022-11-04 07:42] ropery commented on #90
https://isbndb.com seems large/useful too.

[2022-11-06 14:52] robsonsobral commented on #57
Is it possible to add a list of field names to the readme, please?

[2022-11-06 23:43] mateusz-bak commented on #57
What do you mean, list of columns in Openreads database?

[2022-11-06 23:53] robsonsobral commented on #57
Yeap, @mateusz-bak ! I'm trying to import from Storygraph, but the field names are a little different from Goodreads.

[2022-11-11 14:58] waot opened #172 "[BUG] Typo - License instead of licence"
See title

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional info(please complete the following information):**
 - Manufacturer and model:
 - Andro

[2022-11-11 15:11] nobkd commented on #172
- **License** is both a noun and a verb in the United States.
- If you live in any other English-speaking country, you will spell it **licence** when you use it as a noun and **license** when you use it as a verb.

[Source](https://www.grammarly.com/blog/licence-license/)

[2022-11-16 15:44] waot commented on #172
My apologies and thank you for teaching me, I guess I am too
american-centric for a european.

Kind regards and sorry to have wasted your time.

wout

On Fri, 11 Nov 2022 at 16:11, nobkd ***@***.***> wrote:

[2022-11-18 09:15] #172 closed